<h1>Add your Xperience</h1>
<%# Here goes the form to create a new listing %>
<%= simple_form_for @listing do |f| %>
  <%= f.input :title %>
  <%= f.input :details %>
  <%= f.input :price_per_day %>
  <%= f.button :submit,class: "btn btn-primary" %>
<% end %>
<%= link_to  %>
