<%# here to code the view of each listing  %>
<div class="container-listing">
  <div class="row listing-content">
    <!-- Details box -->
    <div class="listing col-md-8">
      <div class="listing-title">
        <h3><strong><%= @listing.title %></strong></h3>
        <p><%= @listing.details %></p>
      </div><br>

      <div class="listing-details">
        <div class="row-content">
          <div class="col-xs-3">
            <p><strong>Highlights</strong></p>
          </div>

          <div class="col-xs-9">
              <%= @listing.details %>
          </div>
        </div>
        <br><br>
      </div>
    </div>

    <%= button_to "Go back", listings_path, :method => :get %>

    <%= button_to "delete", @listing, :method => :delete %>

    <%= button_to "Book this Xperience", new_listing_booking_path(listing_id: @listing), :method => :get %>
    <%= button_to "My bookings", bookings_path(listing_id: @listing), :method => :get %>
  </div>
