<%# here to code the view of each listing  %>
<div class="container col-6">
<div class="card-group">
  <div class="card">
    <img src="https://images.unsplash.com/photo-1651133806650-a61eef0a8fdb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80" class="card-img-top" alt="...">
    <div class="card-body">
      <div class="listing-title">
          <h3><strong><%= @listing.title %></strong></h3>
          <p><%= @listing.details %></p>
        </div>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
      <div class="flex-col mt-3" >
          <div class="mb-2">
    <%= button_to "Delete Xperience", listings_path  %>
          </div>
          <div class="mb-2">
    <%= button_to "Go back", listings_path  %>
          </div>
          <div class="mb-2">
    <%= button_to "Edit", listings_path %>
          </div>
    <%= button_to "delete", @listing, :method => :delete %>
      </div>
    </div>
  </div>
</div>
