
<h2><%= @booking.start_date %></h2>
<h2><%= @booking.end_date %></h2>
<h2><%= @booking.listing.user.first_name + " " + @booking.listing.user.last_name %></h2>
<h2><%= @booking.listing.user.email %></h2>
<%= link_to "Go Back",  listing_bookings_path(@booking.listing), class:"btn btn-primary" %>
<%= link_to "Delete Booking", listing_bookings_path, method: :delete, class:"btn btn-primary" %>
